 body {
     text-align: left;
     margin-top: 20px;
     margin-left: 20%;
     margin-right: 20%;
 }

 .profile {
     width: 200px;
     border-radius: 50%;

 }

 section {
     background-color: azure;
     border-radius: 20px;
     padding: 20px;
     margin-top: 10px;
 }

 table {
     width: 100%;
     background-color: lightseagreen;
 }

 table,
 td,
 th {
     border: 1px solid blue;
 }

 .bread image {
     width: 10px;
     height: 10px;
 }



 header {
     background-color: rgb(89, 27, 19);
     border-radius: 20px;
     padding: 20px;
     margin-top: 10px;
     color: antiquewhite;
 }




 .bob {
      background-color: rgb(89, 27, 19);
     border-radius: 20px;
     padding: 20px;
     margin-top: 10px;
     color: rgb(0, 0, 0);}




 header {
     background-color: rgb(89, 27, 19);
     border-radius: 20px;
     padding: 20px;
     margin-top: 10px;
     color: antiquewhite;
 }

 .card {
     background-color: rgb(89, 27, 19);
     border-radius: 20px;
     width: 250px;
     padding: 5px;
 }

 .card img {
     width: 100%;
     border-radius: 20px;
     object-fit: cover;
     height: 100px;
 }

 .card:hover {
     border: solid black 5px;
 }

 #lessons {
     display: flex;
     gap: 10px;
 }

 img {
     width: 200px;
     border-radius: 50%;

 }

 section {
     background-color: azure;
     border-radius: 20px;
     padding: 20px;
     margin-top: 10px;
 }