 body{
            text-align: left;
            margin-top: 20px;
            margin-left: 20%;
            margin-right: 20%;
        }        

        .profile{
            width: 200px;
            border-radius: 50%;
        
        }

        section{
            background-color: azure;
            border-radius: 20px;
            padding: 20px;
            margin-top: 10px;
        }
        table{
            width: 100%;
            background-color: lightseagreen;
        }
        table, td, th{
            border: 1px solid blue;
        }

        .bread image{
            width: 10px;
            height:10px;
        }